<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>YouTube → MP3</title>
    <link rel="stylesheet" href="/statics/styles.css">
</head>
<body>

    <main class="card">
        <h1>🎵 YouTube a MP3</h1>
        <p>Convierte videos de YouTube a audio MP3 fácilmente</p>

        <form method="POST">
            <input 
                type="text" 
                name="url" 
                placeholder="Pega aquí el link de YouTube"
                required
            >
            <button type="submit">Convertir</button>
        </form>

    </main>

</body>
</html>
