* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #111, #1f1f1f);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.card {
    background: #181818;
    padding: 40px;
    width: 360px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 20px 50px rgba(0,0,0,0.6);
}

.card h1 {
    margin-bottom: 10px;
    font-size: 28px;
}

.card p {
    font-size: 14px;
    color: #b3b3b3;
    margin-bottom: 25px;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #1db954;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #1ed760;
}

.error {
    margin-top: 15px;
    color: #ff4d4d;
    font-size: 14px;
}
